@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);
@import url(./module.css);
/* css는 선언 순서가 중요함! */
/* 사용자 스타일을 적용하려면 normalize를 가장 맨 위에 선언해야 함 */


/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  /* 노멀 플로우를 벗어나서 떠 있음 */
  position: absolute; 
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 앞으로 등장하는 모든 box-sizing은 border-box로! */
/* 이걸 해주지 않으면 padding값을 변경했을 때 width 값을 계속 변경해줘야 함 */

/* root element */
html{
  /* 권장하는 사이즈는 아님. 수업에서는 계산하기 편하게 하려고 */
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em, rem 단위를 사용해보기 */
  /* 상속 받지 않고, root로 가서 연산. 10px * 1.4 */
  /* em은 상속받은 값을 기준으로 계산 */
  color: #212121;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%); */
  /* background-color: #ccc;
  background-image: url(./images/bg_flower.png), linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */

  /* 단축 표기법 */
  background: url(./images/bg_flower.png) no-repeat 50% 0, 
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) repeat 0 0;

}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  /* 셀렉터 그루핑 */
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  /* lt rt rb lb */
  /* x축 으로 15px y축으로 15px 만큼 움직여서 연결하기(활 그리기) */
  /* border-radius: 0 0 15px 15px / 0 0 50px 50px; */
  /* 위처럼 작성하면 원이 아니라 좀더 급격하게 줄어드는 모양 */
  /* border-radius를 box보다 크게 입력한 경우, 우선 큰 값을 그리고 사이즈에 맞춰 계속 줄여나감 -> 50px입력한 것과 같은 결과가 나옴 */
  position: relative;
  /* 현재 normal flow를 유지하되 움직일 수 있는 상태. 여기서는 logo position 기준이 되기 위해. */
}
/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 포지션은 상위 컨테이닝 블록을 기준으로 배치됨
하지만 아무나 기준으로 삼는 것은 아님
position: static이 아닌 경우만 기준으로 삼음(경우의 수 하나.. 다양한 기준이 있음) */

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  text-transform: uppercase;
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  transform: translateX(10px);
}

.member li{
  display: inline-block;
}

.member a{
  /* a태그에 padding: 클릭할 수 있는 범위가 늘어남 */
  padding: 6px 10px;
  display: inherit;
}

.divider {
  margin-right: 4px;
}

/* 마지막 li 요소에 포함된 a 태그를 선택해 오른쪽 padding 값을 0으로 재정의하는 방법*/
/* 다른 글자는 글자 옆도 링크 영역이었는데, 잉글리시만 그러지 않음. */
/* .member li:last-child a{
  padding-right: 0;
} */

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}
.menu {
  border-top: 2px solid #212121;
  background: #e85e2c
  linear-gradient(
    to bottom,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%
  );
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item{
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 10점 */
.menu-button{
  border: 0;
  background: transparent;
  /* 여백도 누를 수 있게 하려고 */
  padding: 0 23px;
  /* sub-menu가 글씨 속성을 상속받는 것을 막기 위해 menu-item이 아니라 버튼에만 주는 것 */
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  /* x y 블러처리(값을 지정하지 않으면 번지지 않음) 색 */
  /* 글씨를 복사해서 위치를 옮기는 것 -> 두껍게 하려면 여러개를 만들어야 함. 위치를 다 다르게 해서*/
  /* text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000; */
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 20점 */
.is-active .menu-button{
  color: #ff0;
}

.is-active .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu{
  position: absolute;
  top: 47px;
  display: none;
  padding: 4px 0;
}

.menu-html, .menu-css, .menu-standards{
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive{
  right:0;
}

.is-active .sub-menu{
  /* display 어떻게 보여줄 지 결정하는 것. 꼭 block일 필요가 없음. */
  /* display: flex; */
  display: block;
  /* 공백. 줄바꿈 금지 */
  white-space: nowrap;
}

.sub-menu li{
  display: inline-block;
}

.sub-menu a::before{
  content: '\e805';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover, .sub-menu a:focus{
  color: #f00;
}

.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e801';
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

/* 비주얼 */
/* moveEffect라는 이름으로 시작과 끝을 묶어주는 역할(keyframes) */
@keyframes moveEffect {
  /* from 대신 0%*/
  0%{
    font-size: 12px;
    /* transform: scale(0.5); */
    /* color: rgba(0, 0, 0, 0.2); */
    color: hsla(0, 0%, 0%, 0);

    /* padding: 0; */
    /* top: 0;
    left: 0; */
    transform: translate(0,0);
  }
  /* to 대신 100%*/
  100%{
    font-size: 24px;
    /* transform: scale(1); */
    /* 아래는 검정으로 출력. 만약 글씨에 색을 지정한 경우 아래 코드를 지우면 원래 색으로 나온다. 
    아래 코드가 있으면, 글씨에 색이 지정되어 있더라도 검정색으로 나옴*/
    /* color: rgba(0, 0, 0, 1); */
    color: hsla(0, 0%, 0%, 1);

    /*  시작 위치는 생략 가능 */
    /* padding: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
    transform: translate(400px,75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* animation-name: fadeEffect;
  animation-duration: 2000ms; */
  /* 숫자를 넣으면 숫자만큼 반복. infinite -> 무한 */
  /* animation-iteration-count: infinite; */
  /* alternate 순방향 -> 역방향 */
  /* animation-direction: alternate; */

  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before{
  /* background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
  background-repeat: no-repeat;
  background-position: 0 -10px, 600px 0; */
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px, url("./images/ani_flower_02.png") no-repeat 600px 0;
}

.visual::after{
  /* background-color: pink; */
  background: url("./images/ani_flower_03.png") no-repeat 300px 0, url("./images/ani_flower_04.png") no-repeat 800px 0;
  animation-delay: 1000ms;
}

.visual-text{
  /* animation-name: moveEffect;
  animation-duration: 400ms;
  animation-fill-mode: forwards; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: moveEffect 400ms ease-in-out forwards;
  /* font-size: 24px; */
  /* color: blue; */
  /* display: inline-block; */
  position: relative;
  z-index: 1;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  width: 250px;
}

.group2{
  width: 380px;
}
.group3{
  width: 190px;
}

/* 로그인 */
.login{
  box-shadow: 5px 5px 0 0 #ccc;
  /* gradient는 CSS2.2에는 없던 기능. 모던브라우저에서만 지원하기 때문에, 그라디언트를 지원하지 못 하는 경우를 위해 페인트칠을 해 놓는 것 */
  background: orange radial-gradient(circle at right top, orange, orangered);
  padding: 10px;
  border-radius: 5px;
}

.login-title{
  color: #ff0;
  font-size: 15px;
  font-weight: 700;
  text-indent: 10px;
}

.login-form{
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset{
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.user-email, .user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form input{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}

.login-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  background-color: orangered;
  color: #fff;
  border: 0;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 13px;
}

.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
}

.sign a::before{
  content: "\e804";
  font-family: fontello;
  margin-right: 8px;
  color: orangered;
}

/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;
}

.validation-list li{
  margin-top: 10px;
}

.validation-list a{
  display: block;
  /* 이미지가 앞으로 나와야하기 때문에, 그라데이션 보다 앞에 나오게! */
  background: url(./images/validation_icon.png) no-repeat 25px 50% ,#ccc linear-gradient(to bottom, #ccc, #eee);
  padding: 8px 15px 8px 50px;
  border-radius: 30px;
  border: 1px solid #aaa;
}

/* .validation-list a::before{
  content: url(./images/validation_icon.png);
  vertical-align: middle;
} */

.validation-list a:hover, .validation-list a:focus{
  color: red;
}

/* 웹 관련 용어 */
.term {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
}

.term-title{
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list {
  margin-top: 10px;
}

.term-list div{
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}

.term-list-subject{
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail{
  float: left;
}

.term-list-thumbnail img{
  vertical-align: middle;
}

.term-list-brief{
  margin-top: 5px;
  line-height: 1.5;
}

.cross .term-list-subject, .cross .term-list-brief{
  float: left;
  width: 145px;
}

.cross .term-list-thumbnail{
  float: right;
}

/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
  
}

.search-form-inner{
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form-group{
  /* 영역만큼 늘어남. 플렉스 아이템 속성 */
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 10px; 
}

.form-group-label{
  /* 줄바꿈 금지. 단, 부모영역의 크기가 줄면 튀어나옴 */
  /* white-space: nowrap; */
  /* 아래와 같은 방법으로도 줄바꿈 해결 가능. 플렉스를 사용했기 때문에! */
  flex-shrink: 0;
  margin-right: 10px;
}

.form-group-input{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
}

.search-button{
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  height: 24px;
  border: 0;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.2rem;
}

/* 공지사항 및 자료실 */

.board{
  margin-top: 20px;
  position: relative;
}

.tab-list{
  display: flex;
  flex-flow: row nowrap;
}

.tab{
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}

.tab-panel{
  display: none;
  margin-top: 15px;
}

.is-select.tab-panel{
  display: block;
}

.is-select.tab{
  background-color: #fff;
  color: #e85e2c;
  border-color: currentColor currentColor #fff currentColor;
}

.board-list li{
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.board-list a{
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-list time{
  flex-shrink: 0;
  margin-left: 10px;
}

.board-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.icon-plus::before{
  color: hsla(110, 50%, 30%, 1);
}

/* 새소식 */

.news {
  margin-top: 20px;
  position: relative;
}

.news-title{
  /* color: #e85e2c; */
  font-size: 1.5rem;
  font-weight: 700;
}

.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #ccc, #fff);
}

.news-link{
  display: block;
}

.news-item {
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}

.news-item-title {
  font-weight: 500;
}

.news-item-date{
  /* 타임은 인라인 속성. 마진이나 패딩을 줘도 라인하이트에 맞춰지기 때문에
  적용되지 않는 것 처럼 보임. -> 블록으로 변경(인라인 블록도 가능. 상황에 따라 적절하게) */
  display: block;
  margin: 5px 0 10px;
}

.news-item-brief{
  line-height: 1.5;
}

.news-item-thumbnail{
  position: absolute;
  top: 3px;
  left:0;
  text-align: center;
}

.news-item-thumbnail img{
  box-shadow: 0 15px 10px 5px #ccc;
  margin-bottom: 15px;
}

.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

/* 신규 이벤트 및 관련 사이트 */

.event{
  border-bottom: 1px solid #aaa;
  /* 여기에 flow-root를 추가하는 것으로 float로 여백 생긴 것 해결할 수 없음. 두 요소가 묶여 있었어야 가능한 방법 */
  position: relative;
}

.event-title{
  display: inline-block;
}

/* 아니면 부모 영역을 좀 크게 잡고, 버튼 높이를 18px로 (아웃라인 깨지는 것 방지 2) */
.event-button-wrapper{
  height: 20px;
  overflow: hidden;
  /* 버튼 아래의 갭을 없애기 위해 flex를 줌. 디쎈더 영역 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* 단, 갭은 IE 지원 안 함. 마진으로 해결 */
  gap: 5px;
  float: right;
}

/* 플로트 여백 해결 방법 1 */
/* #eventDetail{
  clear: both;
  padding-top: 10px;
} */

/* IR 기법 -> Image Replacement 글자 대신 배경이 나오게 하는 것 */
.event-button{
  width: 19px;
  height: 18px;
  border: 0;
  /* 글자 밀어내기 */
  padding: 20px 0 0 0;
  background: url(./images/back_forward.png) no-repeat;
}

/* 높이가 같은데 overflow:hidden 주면 탭했을 때 아웃라인이 깨지는 것 방지 */
.event-button:focus{
  outline-offset: -2px;
}

.event-button-next{
  background-position: -36px 0;
}

.event-thumbnail, .event-brief {
  margin: 10px 0;
}

.event-thumbnail img{
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.event-brief {
  line-height: 1.5;
}

.related{
  margin-top: 10px;
}

.related-list {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  /* 바뀌기 전에 입력해야 서서히 바뀜. 변화하려는 곳에 두면 마우스를 뗐을 때는 급격하게 바뀜
  transition-property: background-color, border-radius ;
  transition-duration: 2000ms, 2000ms;
  프로퍼티를 동시가 아니라 시간차를 주고 싶을 때
  transition-delay: 0ms, 2000ms;
  transition-timing-function: ease-in-out;
  transition 을 이용해서 한 줄로 쓸 수 있음 */
  height: 27px;
  overflow: hidden;
  transition: height 400ms 0ms ease-in-out, padding 400ms 400ms ease-in-out;
  padding: 0;
}

.related-list li{
  height: 25px;
  display: flex;
  /* 가운데 정렬하기 위해 준 값들 */
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 5px;
}

.related-list a{
  flex-grow: 1;
  padding: 0 10px;
}

.related-list:hover, .related-list:focus{
  height: 147px;
  padding: 10px 0;
}

/* 인기 사이트 */

.favorite{
  position: relative;
}

.favorite-list{
  background-color: yellow;
  list-style-type: none;
}

.favorite-list li{
  margin-top: 10px;
}

.favorite-list li::before{
  content: "1";
  background-color: #aaa;
  color: #fff;
  padding: 1px 6px;
  font-size: 1.2rem;
  margin-right: 5px;
  border-radius: 3px;
}

.favorite-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer {
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner{
  background: silver;
  height: 15vh;
}