/* css는 선언 순서가 중요함! */
/* 사용자 스타일을 적용하려면 normalize를 가장 맨 위에 선언해야 함 */

@import url(./normalize.css);
@import url(./reset.css);

/* 본문 스타일 */
body {
  background: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  /* 셀렉터 그루핑 */
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 헤더 */
.header {
  padding: 0 30px;
  background: pink;
  height: 15vh;
}
/* 비주얼 */
.visual {
  background: orange;
  height: 10vh;
}
/* 메인 */
.main {
  background: lightgreen;
  height: 50vh;
}
/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner{
  background: silver;
  height: 15vh;
}