/* css는 선언 순서가 중요함! */
/* 사용자 스타일을 적용하려면 normalize를 가장 맨 위에 선언해야 함 */

@import url(./normalize.css);
@import url(./reset.css);

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 앞으로 등장하는 모든 box-sizing은 border-box로! */
/* 이걸 해주지 않으면 padding값을 변경했을 때 width 값을 계속 변경해줘야 함 */

/* root element */
html{
  /* 권장하는 사이즈는 아님. 수업에서는 계산하기 편하게 하려고 */
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em, rem 단위를 사용해보기 */
  /* 상속 받지 않고, root로 가서 연산. 10px * 1.4 */
  /* em은 상속받은 값을 기준으로 계산 */
  font-size: 1.4rem;
  color: #212121;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  /* 셀렉터 그루핑 */
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  /* lt rt rb lb */
  /* x축 으로 15px y축으로 15px 만큼 움직여서 연결하기(활 그리기) */
  /* border-radius: 0 0 15px 15px / 0 0 50px 50px; */
  /* 위처럼 작성하면 원이 아니라 좀더 급격하게 줄어드는 모양 */
  /* border-radius를 box보다 크게 입력한 경우, 우선 큰 값을 그리고 사이즈에 맞춰 계속 줄여나감 -> 50px입력한 것과 같은 결과가 나옴 */
  position: relative;
  /* 현재 normal flow를 유지하되 움직일 수 있는 상태. 여기서는 logo position 기준이 되기 위해. */
}
/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 포지션은 상위 컨테이닝 블록을 기준으로 배치됨
하지만 아무나 기준으로 삼는 것은 아님
position: static이 아닌 경우만 기준으로 삼음(경우의 수 하나.. 다양한 기준이 있음) */

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  text-transform: uppercase;
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  transform: translateX(10px);
}

.member li{
  display: inline-block;
}

.member a{
  /* a태그에 padding: 클릭할 수 있는 범위가 늘어남 */
  padding: 6px 10px;
  display: inherit;
}

.divider {
  margin-right: 4px;
}

/* 마지막 li 요소에 포함된 a 태그를 선택해 오른쪽 padding 값을 0으로 재정의하는 방법*/
/* 다른 글자는 글자 옆도 링크 영역이었는데, 잉글리시만 그러지 않음. */
/* .member li:last-child a{
  padding-right: 0;
} */

/* 비주얼 */
.visual {
  background: orange;
  height: 10vh;
}
/* 메인 */
.main {
  background: lightgreen;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
}

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  background-color: violet;
  width: 250px;
}

.group2{
  background-color: salmon;
  width: 380px;
}
.group3{
  background-color: gold;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer {
  background: gray;
}
.footer-inner{
  background: silver;
  height: 15vh;
}